@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

.btngeral {

    color:#f74780 !important;
    border-color: #f74780 !important;
    font-weight: bold;
    font-size:larger;
    width: 80%;
    
}
.btngeral:hover{
    background-color: #f74780 !important;
    color:black !important;
    font-weight: bold;
    

}




.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Inter', sans-serif;

}


.valores{
    font-family: 'Inter', sans-serif;
    border-left: thick double #f74780 ;
    padding-left: 5%;
    padding-right: 5%;
 

}


.valores .preco{
    font-weight: bold;

}

.valores .quant:focus-visible{
    outline: 2px solid #f74780;


}


.cardImagem{

    display: flex;
    justify-content: center;
    border-color: #f74780 !important;
}

.descricao{
    padding-left: 5%;
    padding-right: 4%;
    font-family: Arial, Helvetica, sans-serif;
    

}
.descricao .titulo{
    border-top: thick double #f74780;
    font-family: Arial, Helvetica, sans-serif;
    

}
.texto.valores.quant{
    width: 20%;

}
.texto.valores.btngeral{
    width: 80%;
}


