

.btngeral {

    color:#f74780 !important;
    border-color: #f74780 !important;
    font-weight: bold;
    font-size:larger;
    
}
.btngeral:hover{
    background-color: #f74780 !important;
    color:black !important;
    font-weight: bold;
    

}


.teste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: monospace;

}


.valores{
    font-family: monospace;
    border-left: thick double #f74780 ;
    padding-left: 5%;
    padding-right: 5%;
 

}


.valores .preco{
    font-weight: bold;

}

.cardImagem{

    display: flex;
    justify-content: center;
}

.descricao{
    padding-left: 5%;
    padding-right: 4%;
    font-family: Arial, Helvetica, sans-serif;
    

}
.descricao .titulo{
    border-top: thick double #f74780;
    font-family: Arial, Helvetica, sans-serif;
    

}

