@import url("./sections/menu.css");

#corpo #corpo-body {
    display: flex;
    justify-content: center;
}

#corpo .nomeCate{
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

#corpo .nomeCate h1:before{
    content: '';
    display: block;
    width: 75px;
    border-top: thick solid #f74780 ;
}

#corpo .nomeCate h1::after{
    content: '';
    display: block;
    width: 75px;
    border-bottom: thick solid #f74780 ;
    margin-left: auto;
}

#corpo .cardsBloco {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#corpo .cardsBloco .divCardItens{
    margin: 1%; 
}

#corpo .cardsBloco .cardItens {
    border-color: #f74780 !important;
    padding-bottom: 90px;
    height: 490px;
}

#corpo .cardsBloco .cardItens > img {
    border-radius: inherit;
}

#corpo .cardsBloco .cardItens .preco {
    position: absolute;
    bottom: 20px;
    width: 90%;
}

#corpo .cardsBloco .cardItens .preco .btnCompra {
    border-color: #f74780 !important;
    color: #f74780;
    font-weight: bolder;
}

#corpo .cardsBloco .cardItens .btnCompra:hover {
    background-color: #f74780 !important;
    color: white;
    font-weight: bolder;
}

.footer {
    background-color: #ffc1d5;
    display: flex;
}

@media screen and (max-width: 720px) {
    #corpo .cardsBloco .cardItens {
        height: 350px;
    }
}

@media screen and (max-width: 992px) {
    #corpo .cardsBloco .cardItens {
        height: 350px;
    }
}