@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    /* padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; */
}
body{
   /*  width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
	flex-direction: column; // ESSE FLEX-DIRECTION: COLUMN FAZ OS ITENS DO BODY FICAREM UM EM BAIXO DO OUTRO 	
    background: #ffff; */

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* ESTILIZAÇÃO DA FAIXA ROSA */
header {
	display: block;
	background-color: #ffc1d5;
	/* width: 100%; */
    /* height: 120px; */
    margin-bottom: 10px;
    padding: 5px;
}

.logo{
    margin-left: 100px;
    margin-bottom: 10px;
    height: 80%;
    width: 130px;
    background-color: #ffc1d5;    
}

/* .logo img{
    width: 100%;
    height: 100%;

} */

.login {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.corpoLogin {
    /* margin-top: auto;
    margin-bottom: auto;
    width: 35%;
    height: 65%;
    display: flex;*/ 
    /* box-shadow: 10px 10px 15px rgba(0, 0,0, .212); */
    border: 1px solid rgba(0, 0,0, .212);
    padding: 3rem;
}

/* .form {
    width: 100%;        
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
} */

.form-header{
    /* margin-bottom: 1.5rem; */
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.form-header .title > h1 {
    border-bottom: 5px solid #f74780;
    border-radius: 3px;
}

/* .form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ffc1d5;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
} */

.form-header .continue-button .btnGeral {
    background-color: #f74780 !important;
    border: none;
    color: black !important;
    font-weight: bolder;  
}

.form-header .continue-button .btnGeral:hover {
    background-color: #ffc1d5 !important;
    color: black !important;
    font-weight: bolder;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
}

.input-box input{
    margin:0.6rem 0;
    padding:  0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 2px solid #ffc1d5;
}

.input-box label{
    font-size: 0.75 rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box > a{
    text-align: center;
    color: #000000c0;
    text-decoration: none;
}

.input-box input::placeholder{
    color: #000000be;
}

.login-button > button{
    width: 100%;
    /* margin-bottom: 1rem; */
    /* border: none; */
    /* background-color: #ffc1d5; */
    /* padding: 0.62rem; */
    /* border-radius: 5px; */
    /* cursor: pointer; */
}

.login-button .btnGeral {
    background-color: #f74780 !important;
    border: none;
    color: black !important;
    font-weight: bolder;  
}

.login-button .btnGeral:hover {
    background-color: #ffc1d5 !important;
    color: black !important;
    font-weight: bolder;
}

/* .continue-button button{
    border: none;
    background-color: #ffc1d5;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor:pointer;
}

.continue-button button:hover{
    background-color: #f74780;
}

.continue-button button a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
} */

/* a{
    text-decoration: none;
    color: #ffc1d5;
    text-align: center;
    font-weight: bold;
}
a:hover{
    color: #f74780;
} */

@media screen and (max-width: 1060px) {
    .login {
        margin-top: 6%;
    }
}