:root {
  --main-pink: #ffc1d5;
  --main-pink-translucid: #ffc1d58a;
  --heavy-pink: #f74780;
  --caput-mortuum: #3F2326ff;
  --rose-ebony: #7C5050ff;
  --pale-dogwood: #D3B4ABff;
  --rosy-brown: #C19589ff;
  --tea-rose-red: #F1B8B6ff;
}